<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="User">
    <test name="User Tests">

        <packages>
            <package name="com.griddynamics.gridu.qa.payment.mocked"></package>
            <package name="com.griddynamics.gridu.qa.payment"></package>
            <package name="com.griddynamics.gridu.qa.user.mocked"></package>
            <package name="com.griddynamics.gridu.qa.user"></package>
        </packages>

<!--        <classes>-->
<!--            <class name="com.griddynamics.gridu.qa.util.Util"/>-->
<!--            <class name="com.griddynamics.gridu.qa.user.CreateUserTest"/>-->
<!--            <class name="com.griddynamics.gridu.qa.user.DeleteUserTest"/>-->
<!--            <class name="com.griddynamics.gridu.qa.user.GetUserDetailsTest"/>-->
<!--            <class name="com.griddynamics.gridu.qa.user.UpdateUserTest"/>-->
<!--        </classes>-->

    </test> <!-- Test -->
</suite> <!-- Suite -->